{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Indoor Map Example</title>

  <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />

  <style type="text/css">
    body {
      padding: 0;
      margin: 0;
    }

    html,
    body,
    #map {
      height: 100%;
    }

    .info {
      width: 150px;
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    #notifications {
      cursor: pointer;
      position: fixed;
      right: 0px;
      z-index: 9999;
      bottom: 0px;
      margin-bottom: 22px;
      margin-right: 15px;
      max-width: 300px;
    }
  </style>
</head>

<body>

  <div id="map">

  </div>
<!-- JavaScript -->
<script src="{% static 'vendor/js/alertify.min.js' %}"></script>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'vendor/css/alertify.min.css' %}"/>
<!-- Default theme -->
<link rel="stylesheet" href="{% static 'vendor/css/default.min.css' %}"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="{% static 'vendor/css/semantic.min.css' %}"/>

<!-- 
    RTL version
-->
<link rel="stylesheet" href="{% static 'vendor/css/alertify.rtl.min.css' %}"/>
<!-- Default theme -->
<link rel="stylesheet" href="{% static 'vendor/css/default.rtl.min.css' %}"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="{% static 'vendor/css/semantic.rtl.min.css' %}"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap.rtl.min.css' %}"/>

  <script src="{% static 'vendor/js/jquery-3.4.1.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"></script>
  <script src="{% static 'js/leafflat-indoor.js' %}"></script>
  <script type="text/javascript" src="{% static 'data.json' %}"></script>
  <script src="{% static 'vendor/js/notify.js' %}"></script>
  <script type="text/JavaScript">
    // ipaddress localhost
    var ipLocal = 'http://192.168.1.10/' // ganti sesuai dengan local ini

    // ipaddress localhost updateroom

    var updateIpLocal = 'http://192.168.1.20:8000/updateroom/' // api ke local

    // ipaddress ke pak parwito 
    var ipClient = 'http://192.168.1.150:8001/' // ganti sesuai dengan client
         var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '{% static "sounds/ring.mp3" %}');
                audioElement.addEventListener('ended', function() {
                    this.play();
                }, false);   

        // Create the map
        var osmUrl = '//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osm = new L.TileLayer(osmUrl, {
                maxZoom: 22,
                attribution: "Map data &copy; OpenStreetMap contributors"
            });

        var map = new L.Map('map', {
            layers: [osm],
            center: new L.LatLng(-6.952430076511351 ,107.58641839027405
                ),
            zoom: 20
        });

         var indoorLayer = new L.Indoor(geoJSON, {
            onEachFeature: function(feature, layer) {
                // layer.bindPopup(JSON.stringify(feature.properties, null, 4));
                layer.bindPopup('Ruangan '+JSON.stringify(feature.properties['name'])+'<br>'+
                // JSON.stringify(feature.properties['name'])
                '<button onclick="UpdateStatus('+feature.properties["name"]+')">Reset</button>'
                // 
                // if(feature.properties['name'] === "1"){
                //     '<button onclick="UpdateStatus('+feature.properties["name"]+')">Reset</button>'
                // }
                );
            }
        });

        function UpdateStatus(room)
        {
            $.ajax({
            url: ipLocal + 'updateroom/',
            type: 'POST',
            data: JSON.stringify({
              "room": room,
              "status": 0,
            }),
            dataType:'json',
            headers: { 
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*'
            },
            success: function(response){
              // $('#alert-button-'+item.room).css('background-color','transparent')
              // audio.pause();       
              audioElement.pause();
              console.log('sukses')
            }
        })
        ,
        $.ajax({
            url: ipClient,
            type: 'POST',
            data: JSON.stringify({
              "room": room,
              "status": 0,
            }),
            dataType:'json',
            success: function(response){
            }
          })
        }
      

        indoorLayer.addTo(map);

        var levelControl = new L.Control.Level({
            level: "0",
            levels: indoorLayer.getLevels(),
            indoorLayer: indoorLayer
        });

        // Connect the level control to the indoor layer

        levelControl.addTo(map);
     
        setInterval(
            function () {
            $.get(ipLocal +"getroom/", function (data) {
                var rooms = [];
               
                $.each(data, function (i, item) {
                 
                  if (item.status === "1") {
                    //   rooms.push(item);
                      $.each(indoorLayer._layers[1]._layers, function(j, jitem) {
                        if (jitem.feature.properties.name==item.room) {
                            jitem.setStyle({"fillColor" :'blue', "fillOpacity": 1});
                            alertify.set('notifier','position', 'bottom-left');
                            alertify.error('CODE BLUE RUANGAN '+ jitem.feature.properties.name);   
                            audioElement.play();
                        }
                      })
                  } else if (item.status === "0"){
                    $.each(indoorLayer._layers[1]._layers, function(j, jitem) {
                        if (jitem.feature.properties.name==item.room) {
                           jitem.setStyle({fillColor :'transparent', "fillOpacity": 1});
                           
                        }
                      })
                    }
                });
            })
            },
            5000  /* 10000 ms = 10 sec */
          );
    </script>
</body>

</html>